<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Agregar</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="cerrarModal()"> close </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="registrarForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Producto</ion-label>
      <ion-select
        formControlName="cboCliente"
        placeholder="Selecciona un cliente"
      >
        <ion-select-option
          *ngFor="let producto of productos"
          [value]="producto.idproducto"
        >
          {{ producto.descripcion }}
        </ion-select-option>
      </ion-select>
      
    </ion-item>
    

    <ion-button
      [disabled]="!registrarForm.valid"
      type="submit"
      expand="block"
      padding
      color="primary"
      class="ion-margin-top"
      >{{ 'Guardar '}}</ion-button
    >
  </form>
</ion-content>
