ul {
  list-style-type: none;
  padding: 0 10px;
  padding-top: 20px;
  // background-color: #e2e2e2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container {
  position: relative;
  margin-bottom: 115px;
  
  .pay-button-container {
    position: fixed;
    bottom: 10px;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    padding: 0px 10px;


    .pay-button {
      background-color: rgba(255, 255, 255, 0.7);
      backdrop-filter: blur(10px);
      padding: 10px 20px;
      border-radius: 10px;
      border: 1px solid #e2e2e2;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: space-between;
      gap: 10px;

      .price {
        font-size: 20px;
        font-weight: bold;
      }

    }


  }


}